QPushButton,
QPushButton:!hover,
QPushButton:!pressed {
    background: url(:resource);
    background-repeat: none;
    border-style: flat;
    margin-left: -173px;
    margin-top: -3px;
}

QPushButton:hover {
    background: url(:resource);
    background-repeat: none;
    margin-left: -173px;
    margin-top: -38px;
}

QPushButton:pressed {
    background: url(:resource);
    background-repeat: none;
    margin-left: -49px;
    margin-top: -70px;
}
