QPushButton,
QPushButton:!hover,
QPushButton:!pressed {
    background: url(:resource);
    background-repeat: none;
    border-style: flat;
    margin-left: -201px;
    margin-top: 0px;
}

QPushButton:hover {
    background: url(:resource);
    background-repeat: none;
    margin-left: -201px;
    margin-top: -23px;
}

QPushButton:pressed {
    background: url(:resource);
    background-repeat: none;
    margin-left: -201px;
    margin-top: -46px;
}
